@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	color: #495057;
	background-color: #F8F9FA;
}
.wrapper {
   overflow: clip;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
	padding: 50px 0;
}
[class*="__container"] {
	max-width: 1270px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.nav-page {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	line-height: 2.08;
	margin-bottom: 44px;
}
.nav-page__categories::after {
	content: '+';
	padding-left: 7px;
}
.nav-page__columns {
	display: flex;
	column-gap: 20px;
}
.nav-page__categories:hover,
.nav-page__column:hover {
	color: #000;
}
.nav-page__column--active {
	color: rgba(73, 80, 87, 0.5);
}
.content {
	display: flex;
	flex-wrap: wrap;
	row-gap: 45px;
	margin: 0 -15px 60px;
}
.content__block {
	display: flex;
	flex-direction: column;
	flex: 0 1 33.3333%;
	padding: 0 15px;
	row-gap: 30px;
}
.content__pic {
	position: relative;
	overflow: hidden;
}
.content__img {
	max-width: 100%;
	transition: all 0.3s;
}
.content__img:hover {
	transform: scale(1.2);
}
.content__btn-creative {
	position: absolute;
	top: 12%;
	right: 8%;
	display: inline-block;
	color: #F8F9FA;
	font-weight: 700;
	font-size: 8px;
	line-height: 2.5;
	text-transform: uppercase;
	padding: 3px 12px;
	background: rgba(33, 37, 41, 0.3);
	border-radius: 3px;
	transition: all 0.2s;
}
.content__btn-creative:hover {
	background: rgba(33, 37, 41, 0.761);
}
.content__description {
	font-weight: 300;
	line-height: 1.67;
}
.content__description > *:not(:last-child) {
	margin-bottom: 15px;
}
.content__title {
	display: inline-block;
}
.content__title h2 {
	color: #212529;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
}
.content__title h2:hover {
text-decoration: underline;
}
.content__creator {
	padding-top: 15px;
	border-top: 1px solid #E5E5E5;;
}
.page__button {
	display: flex;
	justify-content: center;
}
.button__link {
	display: inline-block;
	padding: 7px 50px;
	color: #F8F9FA;
	font-weight: 500;
	line-height: 2.08;
	background-color: #212529;
	border-radius: 3px;
	transition: all 0.2s;
}
.button__link:hover {
	background-color: hsla(210, 11%, 15%, 0.382);
}
